<h3>City: <%= @city.name %> (Admin)</h3>
<% if @trains.any? %>
  <ul>
    <% @trains.sort_by(&:name).each do |train| %>
    <li><a href="/train/<%= train.id %>/admin"><%= train.name %></a>
      <% times = DB.exec("SELECT stop_time FROM stops WHERE train_id = #{train.id} AND city_id = #{@city.id};") %>
      <% times.each do |time| %>
      <p>Time Due: <%= time.first[1] %></p>
      <% end %>
    </li>
    <% end %>
  </ul>
  <% else %>
  <p>There are currently no trains to display.</p>
<% end %>

<form method="post" action="/city/<%= @city.id %>/admin">

    <label for="train_name">Add a train arrival to this city</label>
    <input name="train_name" class="form-control" type="text">
    <p>Time of Arrival:</p>
    <label for="time_input">ToA</label>
    <input type="time" name="time_input">

  <button type="submit" class="btn">Go!</button>
</form>
